<main class="cv-section-home" aria-labelledby="cv-section-home-heading">
  <section class="cv-section-home-card">
    <button
      type="button"
      class="cv-section-logout-btn"
      (click)="onLogoutClick()"
    >
      {{ 'CV_SECTION.BUTTON_LOGOUT' | translate }}
    </button>
    <div class="cv-section-home-border"></div>

    <div class="cv-section-home-content">
      <h2 id="cv-section-home-heading" class="cv-section-home-title reveal-zoom">
        {{ 'CV_SECTION.HOME_TITLE' | translate }}
      </h2>

      <div class="cv-section-home-subtitle-container">
        <p class="cv-section-home-subtitle">
          {{ 'CV_SECTION.HOME_INTRO' | translate }}
        </p>
        <app-cv-document-links></app-cv-document-links>
      </div>

      <div class="cv-section-home-placeholder">
        <p class="cv-section-home-placeholder-text">
          {{ 'CV_SECTION.HOME_PLACEHOLDER' | translate }}
        </p>
      </div>

    </div>
  </section>
</main>

