.cv-section-login-container
  @media (max-width: 600px)
    .cv-section-card
      padding: 24px 16px
      border-radius: 20px

  @media (min-width: 1024px)
    min-height: calc(100vh - 117px - 240px)

