.cv-section-login-container
  @media (max-width: 600px)
    .cv-section-card
      padding: 24px 16px
      border-radius: 20px

  @media (max-width: 345px)
    .cv-section-card
      .cv-section-form
        .cv-section-field-password
          grid-template-rows: 42px 64px

          .cv-section-field-error
            min-height: 64px

  @media (max-width: 330px)
    .cv-section-card
      .cv-section-form
        .cv-section-field
          grid-template-rows: 42px 42px

          .cv-section-field-error
            min-height: 42px
            white-space: normal
            text-overflow: clip
            overflow-wrap: anywhere
            word-break: break-word

        .cv-section-field-password
          grid-template-rows: 42px 72px

          .cv-section-field-error
            min-height: 72px

  @media (min-width: 1024px)
    min-height: calc(100vh - 117px - 240px)

