<main class="cv-section-admin" aria-labelledby="cv-section-admin-heading">
  <section class="cv-section-admin-card">
    <div class="cv-section-admin-border"></div>

    <div class="cv-section-admin-content">
      <h2 id="cv-section-admin-heading" class="cv-section-admin-title reveal-zoom">
        {{ 'CV_SECTION.ADMIN_TITLE' | translate }}
      </h2>

      <div class="cv-section-admin-subtitle-container">
        <p class="cv-section-admin-subtitle">
          {{ 'CV_SECTION.ADMIN_SUBTITLE' | translate }}
        </p>
      </div>

      <div class="cv-section-admin-placeholder">
        <p class="cv-section-admin-placeholder-text">
          {{ 'CV_SECTION.ADMIN_PLACEHOLDER' | translate }}
        </p>
      </div>
    </div>
  </section>
</main>

