<main class="cv-section-admin" aria-labelledby="cv-section-admin-heading">
  <section class="cv-section-admin-card">
    <button
      type="button"
      class="cv-section-logout-btn"
      (click)="onLogoutClick()"
    >
      {{ 'CV_SECTION.BUTTON_LOGOUT' | translate }}
    </button>
    <div class="cv-section-admin-border"></div>

    <div class="cv-section-admin-content">
      <h2 id="cv-section-admin-heading" class="cv-section-admin-title reveal-zoom">
        {{ 'CV_SECTION.ADMIN_TITLE' | translate }}
      </h2>

      <div class="cv-section-admin-subtitle-container">
        <p class="cv-section-admin-subtitle">
          {{ 'CV_SECTION.ADMIN_SUBTITLE' | translate }}
        </p>
      </div>

      <div class="cv-section-admin-placeholder">
        <p class="cv-section-admin-placeholder-text">
          {{ 'CV_SECTION.ADMIN_PLACEHOLDER' | translate }}
        </p>
      </div>
      <div class="cv-admin-links">
        <p>
          <a
            href="assets/cv-documents/cv-jennifer-thomas.html"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ 'CV_SECTION.DOC_RESUME_TITLE' | translate }}
          </a>
        </p>
        <p>
          <a
            href="assets/cv-documents/da-certificate.html"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ 'CV_SECTION.DOC_CERT_TITLE' | translate }}
          </a>
        </p>
      </div>
    </div>
  </section>
</main>

