.cv-doc-links
  @media (max-width: 720px)
    margin-top: 24px

    .cv-doc-links-grid
      grid-template-columns: 1fr

    .cv-doc-card
      .cv-doc-card-inner
        .cv-doc-image-wrapper
          max-width: 100%

