.cv-section-doc-links
  @media (max-width: 720px)
    margin-top: 24px

    .cv-section-doc-grid
      grid-template-columns: 1fr

    .cv-section-doc-card
      .cv-section-doc-card-link
        .cv-section-doc-image-wrap
          max-width: 100%
          height: 150px
